#title{
    text-align: center;
  }
  #description{
    text-align: center;
  }
  body{
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    
  }